<!-- The Modal -->


  <!-- Modal content -->
  <div class="modal-content">
    <span align="right" class="close">&times;</span>
    <div class="spacer10"></div>
    <div class="modalTitle">Details</div>
<div class="modalSubhead">Featuring a structured six-panel crown, the military inspired Surplus T.M. cap is finished with a custom Herschel Supply patch.</div>
    <div class="spacer10"></div>

<ul class="modalDetails">
<li>Camouflage internal seam details</li>
<li>Plastic snapback</li>
<li>Side panel metal eyelets</li>
<li>Internal H.S.Co field ops label and screen printed branding</li>
<li>Engineered red and white striped rear tab</li>
<li>Tonal Herschel Supply Company patch.</li>
</ul>

<div class="container">
<div class="row">
  <div class="col-xs-6 col-sm-6">
    <img class="modalPic" src="<%= asset_path('hat-closeup.png') %>" width="49%">
    <img class="modalPic" src="<%= asset_path('hat-lifestyle.png') %>" width="49%">

  </div>

</div>
</div>

</div>